{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
  {{ macros.m_tab_head('normal', '설정', true) }}
  {{ macros.m_tab_head('api', 'API', false) }}
  {{ macros.m_tab_head_end() }}
</nav>
<form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
    {{ macros.info_text_go('hls_playback', 'Native HLS Playback', value=arg['hls_playback'], desc=['웹에서 사용시 크롬확장프로그램 설치하세요']) }}
    {{ macros.m_hr() }}
    {{ macros.setting_checkbox('use_sports', '스포츠', value=arg['use_sports']) }}
    {{ macros.setting_checkbox('use_esports', 'e스포츠', value=arg['use_esports']) }}
    {{ macros.setting_select('use_quality', '화질', [['1920x1080','1080p'], ['1280x720','720p'], ['854x480', '480p'], ['640x360', '360p']],
    col='3', value=arg['use_quality'])}}
    {{ macros.setting_radio_with_value('streaming_type', '스트리밍 타입', [['redirect',
    'Redirect'], ['direct',
    'Direct'] ], value=arg['streaming_type'], desc=[' - Redirect: 가장 좋지만 Player에 따라 10분 후 중지될 수 있습니다. 중지가 안된다면 이
    방법으로 사용하세요. 동일 네트워크의 Tvheadend에 연결할 때 사용합니다.', '- Direct: FF와 Player가 동일 네트워크 일 때 사용합니다. Proxy 옵션보다 성능이 좋습니다.',' - Proxy: 불가...']) }}
    {{ macros.setting_checkbox('use_proxy', 'Proxy1 사용', value=arg['use_proxy'], desc=['URL을 얻을 때만 사용']) }}
    {{ macros.setting_checkbox('use_proxy2', 'Proxy2 재생시 사용', value=arg['use_proxy2'], desc=['Direct, Proxy 사용시']) }}
    {{ macros.setting_input_text('proxy_url', 'Proxy URL', value=arg['proxy_url'], desc=['http://id:pass@ip:port or http://ip:port']) }}
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('api', false) }}
    {{ macros.info_text_go('api_m3u', 'M3U', value=arg['api_m3u']) }}
    {{ macros.info_text_go('api_yaml', 'YAML', value=arg['api_yaml']) }}
    {{ macros.m_tab_content_end() }}
  </div>
</form>

<script type="text/javascript">

  $("body").on('click', '#yaml_select_btn', function (e) {
    e.preventDefault();
    path_data = $(this).data('path_data');
    globalSelectLocalFile("파일 선택", path_data, function (ret) {
      $('#yaml_path').val(ret);
    });
  });



</script>

{% endblock %}